
.make-grid-row-clear(@index, @class) {
    .loop(@index) { // initial
        @floatitemlist: ".row-@{class}-clear-@{index} > div:nth-child(1n)";
        @clearitemlist: ".row-@{class}-clear-@{index} > div:nth-child(@{index}n+1)";
        .loop((@index + 1), @clearitemlist, @floatitemlist);
    }
    .loop(@index, @clearitemlist, @floatitemlist) when (@index =< @grid-columns) {
        @floatitem: ~".row-@{class}-clear-@{index} > div:nth-child(1n)";
        @clearitem: ~".row-@{class}-clear-@{index} > div:nth-child(@{index}n+1)";
        .loop((@index + 1), ~"@{clearitemlist}, @{clearitem}", ~"@{floatitemlist}, @{floatitem}");
    }
    .loop(@index, @clearitemlist, @floatitemlist) when (@index > @grid-columns) {
        @{floatitemlist} {
            clear: none;
        }
        @{clearitemlist} {
            clear: both;
        }
    }

    .loop(2);
}

.make-grid-row-clear(@grid-columns, xs);

@media (min-width: @screen-sm-min) {
    .make-grid-row-clear(@grid-columns, sm);
}
@media (min-width: @screen-md-min) {
    .make-grid-row-clear(@grid-columns, md);
}
@media (min-width: @screen-lg-min) {
    .make-grid-row-clear(@grid-columns, lg);
}
